<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding nth Fibonacci Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Find nth Fibonacci Number</h1>
         <img src="{{ url_for('static', filename='fibonacci.png') }}" alt="My Image">


        <div class="center">
            <label for="fibonacci-n">Enter n:</label>
            <input type="number" id="fibonacci-n" name="fibonacci-n" min="0"placeholder="Enter the n value">

            <br><br>

            <button onclick="calculateFibonacci()">Calculate Fibonacci</button>

            <br><br>

            <pre id="fibonacci-result" class="result-text"></pre>

            <br><br>

            <a href="/">Go back to Matrix Exponentiation</a>
    </div>

    <script>
     function calculateFibonacci() {
    let n = document.getElementById("fibonacci-n").value;

    if (n === '') {
        alert('Please enter a value for n');
        return;
    }

    fetch(`/fibonacci/${n}`)
        .then(response => response.json())  // Use .json() to handle the JSON response
        .then(data => {
            // Display the Fibonacci result without the "result" key
            document.getElementById("fibonacci-result").innerText = `Fibonacci(${n}) = ${data.result}`;
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById("fibonacci-result").innerText = "Error!";
        });
}


    </script>
</body>
</html>
